body {
  background-image: url(./pustaa-obycnaa-stranica-noutbuka-so-stacionarnymi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height:100vh;
}

a {
  text-decoration: none;
}

a:hover {
  color: green;
}

a:active {
  color: red;
}

a:focus {
  outline-style: solid red;
}

a:visited {
  color: purple;
}

.todo-list {
  margin-top: 25%;
  margin-left: 15%;
}

li {
  font-size: large;
}
